* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #ff4c4c;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
}

section {
    margin: 20px;
    text-align: center;
}

.kartya-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kartya {
    width: 200px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.kartya img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.szavazat-gomb {
    margin: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.szavazat-gomb:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}